---
import { type CollectionEntry, getCollection, getDataEntryById } from "astro:content";

import DocLayout from "@layouts/DocLayout.astro";

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  const categories = await getCollection("categories");

  return docs.map((doc: CollectionEntry<"docs">) => ({
    params: {
      slug: doc.slug,
    },
    props: {
      doc,
      docs,
      categories,
      currentCategory: categories.find((category: CollectionEntry<"categories">) => category.id === doc.data.category.id),
      currentPage: doc.slug,
    },
  }));
}

export interface Props {
  doc: CollectionEntry<"docs">;
  docs: CollectionEntry<"docs">[];
  categories: CollectionEntry<"categories">[];
  currentCategory: CollectionEntry<"categories">;
  currentPage: string;
}

const { doc, docs, categories, currentCategory, currentPage } = Astro.props;
const { Content, headings } = await doc.render();

// Current date format: Mon Jun 19 2023 20:00:00 GMT-0400 (Eastern Daylight Time)
// Need to convert to: June 19, 2023 4:00 PM
// https://stackoverflow.com/questions/3552461/how-to-format-a-javascript-date

const publishedDate = new Date(doc.data.publishedDate);
const publishedDateFormatted = publishedDate.toLocaleString("en-US", {
  month: "long",
  day: "numeric",
  year: "numeric",
  hour: "numeric",
  minute: "numeric",
  hour12: true,
});

// Rewrite the above to not use the if statement
const updatedDate = doc.data.updatedDate ? new Date(doc.data.updatedDate) : null;
const updatedDateFormatted = updatedDate
  ? updatedDate.toLocaleString("en-US", {
      month: "long",
      day: "numeric",
      year: "numeric",
      hour: "numeric",
      minute: "numeric",
      hour12: true,
    })
  : null;

// const currentCategory = await getDataEntryById("categories", doc.data.category.id);

// console.log(currentCategory);
// console.log(doc.data.category.id);
---

<DocLayout title={`Rwy | ${doc.data.title}`} doc={doc} docs={docs} categories={categories} currentPage={currentPage} headings={headings}>
  <div class="mb-8 space-y-2 border-b border-slate-200 pb-4">
    <p class="text-sky-500">{currentCategory.data.title}</p>
    <h1 class="text-3xl font-bold tracking-wide">{doc.data.title}</h1>
    <p>{doc.data.description}</p>

    <!-- <time datetime="{publishedDateFormatted}" class="text-sm text-slate-200">{publishedDateFormatted}</time>
    {updatedDateFormatted && <time datetime="{updatedDateFormatted}">{updatedDateFormatted}</time>} -->
  </div>

  <!-- <div>{doc.data.category.data.title}</div> -->

  <article
    class="prose prose-slate max-w-none prose-headings:scroll-mt-28 dark:text-slate-400 dark:prose-headings:text-white dark:prose-lead:text-slate-400 lg:prose-headings:scroll-mt-[8.5rem]"
  >
    <Content />
  </article>
</DocLayout>
